.footer__join {
    background-color: black;
    text-align: center;
    width: 50%;
}

.paragraph__join__special {
    margin-left: 80px;
    margin-right: 80px;
}

.links__footer__join {
    margin-left: 100px;
}